body{
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin:1.25rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.orange{
    background-color: #f99b45;
}
.red{
    background-color: #d95980;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}